*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #F7F9FC;
  height: 10000px;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 250px;
  width: 100%;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  li{
    list-style: none;
  }

